
* { margin:0 ;
    padding:0;
    font-family: 'Antonio', sans-serif;
}


html {
    font-size: 18pt;
}

    @media screen and (max-width: 1680px) {

        html {
            font-size: 14pt;
        }

    }

    @media screen and (max-width: 1280px) {

        html {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 736px) {

        html {
            font-size: 11pt;
        }

    }

    @media screen and (max-width: 360px) {

        html {
            font-size: 10pt;
        }

    }

/* estilos menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }  

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 3.5rem;
  }

.myNav:hover{
    cursor:pointer;
}

.menu {
    height: 2em;
   
  }

  nav { background-image: url("https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/styles/bi_930x697/public/media/image/2022/09/monedas-antiguas-2803683.jpg?itok=XmzLYJxI");
    background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  padding: 15px;
}

/* fin estilos menu */


.container {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}

    @media screen and (max-width: 1680px) {

        .container {
            width: 68em;
        }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: calc(100% - 80px);
        }

    }

    @media screen and (max-width: 980px) {

        .container {
            width: calc(100% - 100px);
        }

    }

    @media screen and (max-width: 736px) {

        .container {
            width: calc(100% - 40px);
        }

    }

    #main {
        position: relative;
        overflow: hidden;
        background: #fff;
        padding: 6em 0;
    }


    h1, h2, h3 {
		font-weight: 600;
		/* text-transform: uppercase; */
		color: goldenrod;
        text-align: center;
	}

    h1{font-weight: 700;
        color: #000000;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }

	h2 {
		font-size: 2.2em;
		font-weight: 400;
		letter-spacing: 4px;
		margin: 0 0 1.5em 0;
		line-height: 1.75em;
	}

	h3 {
		font-size: 2em;
		letter-spacing: 2px;
		margin: 0 0 1.25em 0;
	}


    p {
		text-align: justify;
		margin-bottom: 2em;
	}



/* Imagen */

		.imagen img {
			display: block;
			width: 100%;
            margin: 0 0 3.5em 0;
		}

		

/* ---FOOTER--- */
footer{
    background-color:bisque;
  }
  .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-image img{
    width: 120px;
  }
  .footer-list,
  .footer-social{
    display: flex;
    padding: 0;
  }
  .footer-list__item,
  .footer-social__item{
    list-style-type: none;
  }
  .footer-list__item{
    font-size: 1rem;
    padding: 0 1rem;
  }
  .footer-social__item{
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  .footer-list__item a,
  .footer-social__item a{
    text-decoration: none;
    color: black;
  }
  .footer-list__item:hover{
    transform: translateY(-2px);
    font-weight: bold;
  }
  .fa-facebook:hover{
    color: #4267B2;
    transform: scale(1.5);
  }
  .fa-instagram:hover{
    color: #E1306C;
    transform: scale(1.5);
  }
  .fa-twitter:hover{
    color: #1DA1F2;
    transform: scale(1.5);
  }
  .fa-youtube:hover{
    color: #FF0000;
    transform: scale(1.5);
  }
  .fa-github:hover{
    color: #474747;
    transform: scale(1.5);
  }
  .footer-copyright{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  
  @media only screen and (max-width: 600px) {
  
    .footer-container {
      flex-direction: column;
  }
  
  .footer-list {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
  }}